 /* Heading*/
 h2 {
   padding-top: 80px;
   margin-left: 24px;
   font-size: 3vmax;
   color: blue;
   text-decoration: underline;
 }

 /* Gallery*/
 .gallery {
   border: 1px solid #ccc;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .gallery:hover {
   border: 1px solid #777;
 }

 .gallery img {
   max-width: 100%;
 }

 div.desc {
   padding: 15px;
   text-align: center;
   color: rgb(160, 22, 179);

 }

 * {
   box-sizing: border-box;

 }

 .responsive {

   display: grid;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-gap: 20px;
   align-items: stretch;
 }

 span {
   text-decoration: underline;
 }

 span:hover {
   color: red;
 }

 footer {

   padding-top: 31px;
 }

 /* MEDIA QUERIES */

 /* Medium devices (landscape tablets, 992px and up) */
 @media only screen and (max-width: 992px) {
   .responsive {
     width: 50vw;
     margin: auto;
   }

   .social-networks li {
     margin: 3%;
     margin-right: 40px;
     padding-right: 3px;
     text-align: center;
     margin-left: -70px;
   }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 768px) {

   .responsive {
     width: 100vw;
     margin: auto;
   }

 }

 /* Small devices (portrait tablets and large phones, 600px and up) */

 @media only screen and (max-width: 600px) {

   .menu-items {
     height: 5em;
   }

   .responsive {
     width: 100%;
     padding-right: 1px;
     margin-bottom: 5%;
   }

   .gallery img {
     width: 100%;
     height: auto;
   }

   .social-networks i {
     margin-left: 52px;
     text-align: center;
   }
 }

 /* Extremely small devices (portrait tablets and large phones, 375px and up) */

 @media only screen and (max-width: 375px) {

   .gallery img {
     width: 110%;
     height: auto;
   }

   .social-networks i {
     text-align: center;
     margin-left: 42px;
   }
 }