body {
    height: 100vh;
}

header {

    padding-bottom: 30px;
}

.sign-up-form {
    width: 20vw;
    height: 36vw;
    box-shadow: 0 0 3px 0 rgba(29, 127, 208, 0.518);
    border: 2px blue;
    background: white;
    padding: 20px;
    margin: 8% auto 0;
    margin-top: 20px;
    text-align: left;
    border-radius: 2px;
}

h1 {
    text-align: center;
    padding-top: 40px;
    font-size: x-large;
}

.form-section {

    margin-left: 10px;

}

form label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-size: medium;
}

form input {
    width: 100%;
    padding: 5px;
    border: none;
    border: 1px solid black;
}

.text-input {
    display: block;
    width: 90%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #021411;
    border-radius: 2px;
}

legend {
    font-size: large;
    padding-top: 5px;
}

.fav-activity {
    margin-left: -10px;
    padding: 5px;
    width: 100%;
}


.block-label {
    display: block;
}

.join-button {
    margin-top: 20px;
    border-radius: 1px;
    padding-top: 15px;
    padding-right: 32px;
    padding-bottom: 15px;
    padding-left: 32px;
    text-align: center;
    font-size: 100%;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    color: #ffff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.join-button:hover {
    color: #212529;
    text-decoration: none;
}



/* Medium devices (landscape tablets, 820px and up) */
@media only screen and (max-width: 820px) {
    .sign-up-form {
        width: 32vw;
        height: 74vw;
    }
}

@media only screen and (max-width: 768px) {


    body {
        height: 80vh;
    }

    .sign-up-form {
        width: 30vw;
        height: 70vw;
        box-shadow: none;
    }
}

@media only screen and (max-width: 600px) {
    header {
        width: 100vw;
        padding-bottom: 41px;
    }

    h1 {

        margin-left: 35px;
        padding-bottom: 62px;
        font-size: 4vmax;

    }

    img {
        width: 20vw;
        height: auto;
    }

    .navbar-container {
        padding-top: -5px;
    }

    .sign-up-form {
        width: 100vw;
        height: 56vh;
        padding: 60px;
        box-shadow: none;
        background: none;

    }

    .fav-activity {
        margin-left: -20px;
        padding: 5px;
        width: 70%;
    }


    .text-input {
        width: 70%;
        margin-bottom: 31px;
    }

    .join-button {

        width: 80%;
        margin-left: -27px;
    }

    .social-networks {

        margin-left: 8px;
    }


}

@media only screen and (max-width: 375px) {

    .sign-up-form {
        width: 100vw;
        height: 78vh;

    }
}